.example-spacer {
    flex: 1 1 auto;
  }

  .clickable-image {
    width: 70px;
    height: 55px;
    background-image: url('../../assets/images/logo.png');
    background-size: cover;
    cursor: pointer;
  }
  