<p>
  <!-- <mat-toolbar color="primary"> -->
  <mat-toolbar>
    <mat-toolbar-row>
      <!-- <img [routerLink]="'/'" style="width: 2.5em;cursor: pointer;" src="../../../assets/images/logo.png"> -->
      <div class="clickable-image" (click)="navigateToHome()"></div>
      <h1>XVISION</h1>
      <span class="example-spacer"></span>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/home'"> Home<mat-icon>home</mat-icon> </a>
        <a mat-button [routerLink]="'/about'"> About<mat-icon>accessibility</mat-icon> </a>
        <a mat-button [routerLink]="'/contact'"> Contact Us<mat-icon>contact_support</mat-icon> </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</p>