<div class="about-section">
    <h1>
        During our Master’s program as a part of Curriculum, We undertook “Explainable Image Retrieval by Re-Ranking in Semantic Space” <br /> project during the summer semester 2020 under <a href="https://www.findke.ovgu.de/polley.html" target="_blank">M.Sc. Sayantan Polley</a> from the <a href="https://www.findke.ovgu.de/en/" target="_blank">DKE Lab</a> at the Farafin faculty <br />  in Otto-von-Guericke-University(OVGU) Magdeburg. As per the scope of our project ,<br />  We opted for mandatory project based upon our preferences in Data Science.
        <!-- Our core contribution is that given a query image, we retrieve similar images from the database and then we explain the retrieved images by showing local, global and visual explanations.
        We extract the below 4 types of features and then we use them to retrieve similar images from the database.
        <ul>
            <li>Color Layout Descriptor (CLD)</li>
            <li>Edge Histogram Descriptor (EHD)</li>
            <li>Bag of Visual Words (BOW)</li>
            <li>Pre-trained Resnet</li>
        </ul> -->
    </h1>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="assets/images/about/srinathdp.jpeg" alt="Srinath" style="width:100%">
        <div class="container">
          <h2>Srinath Mannam</h2>
          <p>Experienced software developer with a passion for computer vision and pixel analysis. Worked as a full-stack developer with 5+ years of experience in diverse tech stacks. Strong research background with 3 published academic papers and worked as a research assistant at OVGU.</p>
          <h3>Contact: <a href="mailto:mvsrinath2009@gmail.com">mvsrinath2009@gmail.com</a></h3>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/assets/images/about/subhajit-dp.jpeg" alt="Subhajit" style="width:100%">
        <div class="container">
          <h2>Subhajit Mondal</h2>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="/assets/images/about/subhankar-dp.jpeg" alt="Subhankar" style="width:100%">
        <div class="container">
          <h2>Subhankar Patra</h2>
        </div>
      </div>
    </div>

    <div class="column">
        <div class="card">
          <img src="/assets/images/about/kushagra-dp.jpeg" alt="Kushagra" style="width:100%">
          <div class="container">
            <h2>Kushagra kumar</h2>
          </div>
        </div>
      </div>
  </div>