.container {
  text-align: center;
}

.explanationsDiv {
  text-align: left;
}

.mat-cell {
  padding: 10px;
}

.spanText {
  padding: 8px;
  font-family: Arial;
  background-color: #e7e7e7;
  color: black;
  font-size: x-large;
}